body {
	padding: 2em 1em;
	text-align: center;
	font-size: 16px;
	font-family: "Courier", monospace, serif;
	color: #4a3932;
	background: #fffff9;
	background: -webkit-linear-gradient(#fffff9, #d6d6d2);
	background: -moz-linear-gradient(#fffff9, #d6d6d2);
	background: -ms-linear-gradient(#fffff9, #d6d6d2); 
}

p {
	margin: 0 0 1em 0;
	line-height: 1.3;
}

li {
	margin: 0 0 .5em 0;
	line-height: 1.3;
}

a {
	color: #4a3932;
	text-decoration: underline; 
}

a:hover {
	color: #f74b29;
}

.main {
	max-width: 40em;
	width: calc(100% - 2em);
	padding: 1em;
	margin: 0 auto;
	text-align: left; 
	background: rgb(252, 251, 249);
	border: 1px solid #d6d6d2;
}

.cv-container	h1 {
	font-size: 1em;
	margin: .25em 0 1em 0;
	font-weight: bold;
}

.cv-container	h2 {
	font-size: 1em;
	margin: 2em 0 1em;
	font-weight: bold;
}

.resume-container {
	font-family: "Droid Serif", "Georgia", serif;
	font-size: 1.1em;
	padding: 4em;
	max-width: 50em;
	width: calc(100% - 4em);
}

.resume-container header a {
		text-decoration: none;
}

.resume-container time {
	text-align: right;
	display: block;
}

.hp-container h1 {
	font-weight: bold;
	margin: 1em 0;
	padding: 0;
	position: relative;
	background-image: url("signature-single-line-transparent.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;  
	width: 12.44em;  
	height: 2.7em; 
	left: 4em;
	color: transparent;
}	

.hp-container h1::before {
	content: "";
	background-image: url("flupke_larger.png");
	background-repeat: no-repeat;
	width: 3em;
	height: 3em;
	position: absolute;
	left: -4em;
	bottom: 0;
	background-size: 100% 100%;
}

img.hero {   
	width: 100%;  
	height: auto;
	margin: 0 0 1em 0;
}

.mailing-list {
	outline: 1px solid #d6d6d2;
	padding: 1em;
	width: 100%;
}

.mailing-list input[type="email"] {
	width: 20em;
	max-width: width: calc(100% - 1em);
	outline: 1px solid #d6d6d2;
	border: none;
  font-size: 1em;
  padding: .25em .5em;
	margin: 0 0 .25em 0;
}

.mailing-list p {
	margin: 1em 0 0;
}

.mailing-list label {
	line-height: 1.3;
}

@media screen and (max-width: 480px){
	body {
		padding: 0;
		background: rgb(252, 251, 249);
	}	
	div.main {
		width: 100%;
		margin: 0;
		border: none; 
	}
	.mailing-list {
		outline: none;
		padding: 1em 0 0;
		border-top: 1px solid #d6d6d2;
	}
	.mailing-list input[type="email"] {
		width: calc(100% - 1em);
	}
}
